@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  margin-right: 10px;
}

button {
  margin-top: 10px;
  display: block;
}
